/* responsive fontsize */
@media screen and (max-width: 540px) {
  body { font-size: normal; }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body { font-size: large; }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body { font-size: larger; }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body { font-size: x-large; }
}
@media screen and (min-width: 2160px) {
  body { font-size: xx-large; }
}

body {
  font-family: "Inter", sans-serif;
  color: white !important;
}

.dsclmrScrn {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 7.5rem 1rem;
}
.dsclmrScrn * { margin: 0; }

.scvFdm {
  cursor: pointer;
  text-decoration: underline;
}
.scvFdm:hover { color: #efbf04; }
.scvFdm:active { color: #9e7f04; }

img[alt^="Senri Mana"] {
  width: 30rem;
  margin: 0 auto;
  padding: 0 5rem 0 5rem;
}

code {
  font-family: "IBM Plex Mono", monospace;
  padding: 0.125rem 0.5rem;
  background-color: #ffffff20;
  border-radius: 0.375rem;
}